PBI_EMAIL=your_email_here
PBI_PASSWORD=your_password_here
PBI_URL =https://app.powerbi.com/groups/me/reports/9450785a-a51f-482d-8339-79845b3656a6/35a3eb5ceb041e9c0c20?ctid=77fb57e9-6cb2-4ab6-8cd4-41a8b5d72615&experience=power-bi


# Push API (alerts)
PUSH_API_URL=https://rcdemo-api.moovingon.ai/api/pushes/?format=json
PUSH_USERNAME=your_username_or_token
PUSH_PASSWORD_OR_TOKEN=your_password_or_token
SEND_ALERTS=false
DEBUG=false


PBI_REPORT1_URL= your_pbi_report1_here
PBI_REPORT2_URL= your_pbi_report2_here